
@font-face {
  font-family: "IndieFlower-Regular";
  src: url("fonts/IndieFlower-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: "IndieFlower-Regular", serif;
  font-size: 23px;
  background-image: url("../static/background.jpg");
  background-size: contain;
  color: #fff;
}

.nav-link:first-letter{
  color: #E4FF18;
}

.card{
  background-color: initial;
  color: #fff;
  border: none;
}

.btn {
  font-size: 19px;
  background-color: initial;
  border-color: #E4FF18;
  transition: all 0.5s;
}
.btn:hover{
  transform: scale(1.1);
  background-color: #E4FF18;
}

.menu-projects, .skills, .contact-form, .about-me{
  margin-top: 160px;

}

.nav-item button{
  color: #fff;
  transition: all 0.3s;
}

.nav-tabs .nav-link.active{
  background-color: #E4FF18;
}

.nav-tabs .nav-link.active:first-letter{
  color: #000;
}

.nav-item button:hover{

  transform: translateY(-10px);
  color: #E4FF18;

}

.nav-tabs{
  width: 90%;
  margin: auto;
}
.tab-content{
  margin-top: 50px;
}

h2{
  color: #fff;
  font-size: 25px;
}

h2:first-letter{
  color: #E4FF18;
}


.modal-content {
  background-color: #212529;
  color: #fff;
}

ul{
  list-style: none;
}

.skills span {
  display: block;
  width: 20rem;
  margin-bottom: 20px;
  border: 1px solid #E4FF18;
  font-size: 22px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.skills ul li{
  padding-left: 40px;
}

.skills ul li:before {
  height: auto;
  color: #E4FF18;
  margin-right: 20px;
  content: "\2713"; /* Кодировка символов HTML для галочки */
}

.form-control, .form-control:focus{
  background-color: #212529;
  color: #fff;
}



.footer{
  background-color: rgb(0,0,0,0.8);
  min-height: 5rem;
}

.about-me p{
  text-indent: 30px;
  text-align: justify;
}

.footer a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
}

.footer a:hover{
  transform: scale(1.1);
}
